.newConfigContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.leftSide {
    margin-right: 20px;
    width: 550px;
}

pre {
    height: 150px;
    overflow-x: scroll;
    background-color: #eee;
    border:1px solid #ddd;
    border-radius: 5px;
}
&.formContainer {
    display: flex;
    width: 100%;

}
&.codeContainer {
    width: 100%;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
    box-sizing: inherit;
    width: 100%;
    background-color: #ccc;
    border:1px solid #888;
    border-radius: 5px;

    p {
        padding: .5rem;
        margin: 0 5px 5px 0;

        label {
            font-weight: 600;
            padding-left: 0;
            text-align: left;
            border-radius: 5px;
            margin-bottom:.5rem;
        }
        input {
            border: 1px solid #888;
            border-radius: 5px;
            padding: .5rem;
            text-align: left;
        }
    }
}

.copyButton {
    margin-right: 1em;

    &:active {
        background-color: rgba(205, 133, 63, .8);
    }
}
.confirmation {
    color: green;
    font-size: .8rem;
}
