div {
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
  width: 100%;
}

.divider-horizontal {
  height: 1px;
  background: var(--red-to-pink-to-purple-vertical-gradient);
  margin: 1em 0;
}
