.previewControls {
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
}

.buttonScroller {
    width: 75%;
    margin: 0 auto;
    max-width: 100%;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    box-sizing: border-box;
}

.managerInfo {
    margin: 0.5rem auto 0;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-height: 150px;
    overflow: hidden;
    overflow-y: auto;
    padding: 0.5rem;
    min-width: 0;
    background-color: #fff;
}

.buttons button {
    width: 100%;
}
