section {
    width: 100%;
}

.confirmation {
    color: green;
    font-size: .8rem;
}
.copyButton {
    margin-right: 1em;

    &:active {
        background-color: cornflowerblue;
        color: aliceblue;
    }
}

.savedEmailPreviewContainer {
    display: flex;
    justify-content: center;
    padding: 40px;
    margin-top: 10px;
    outline: 1px dotted #ddd;
}

.divider {
    width: 2px;
    background: var(--red-to-pink-to-purple-vertical-gradient);
    margin-inline: 3rem;
  }
.divider-horizontal {
    height: 1px;
    background: var(--red-to-pink-to-purple-vertical-gradient);
    margin: 1em 0;
  }
header {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px 0;
    margin-bottom: 20px;
}
header span {
    display: block;
    font-weight: 400;
    font-size: 1rem;
}

.savedPreviews {
    display: flex;
    justify-content: center;
}
.savedPreviews .buttons {
    margin-right: 20px;
}