section {
    width: 700px;
}
.xmlContainer pre {
    height: 150px;
    overflow-x: scroll;
    background-color: #eee;
    border:1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}
.confirmation {
    color: green;
    font-size: .8rem;
}
.copyButton {
    margin-right: 1em;
}

.emailContainer {
    padding: 20px;
}

.divider-horizontal {
    height: 1px;
    background: var(--red-to-pink-to-purple-vertical-gradient);
    margin: 1em 0;
  }
header span {
    display: block;
    font-weight: 400;
    font-size: 1rem;
}